{% extends "core/base.html" %}
{% block title %}Data Crowler{% endblock %}

{% block import_js_head %}
  <script src="{{ STATIC_URL }}crowler/js/main.js" type="text/javascript"></script>
{#  <script src="{{ STATIC_URL }}crowler/js/myTotal.js" type="text/javascript"></script>#}
{% endblock %}

{% block import_css_head %}
	<link href="{{STATIC_URL}}crowler/css/main.css" rel="stylesheet">
{% endblock %}

{% block content %}
<input type="hidden" id="set_url_on_db" value='{% url 'set_url_on_db' %}'/>
<input type="hidden" id="parse_content_by_words" value='{% url 'parse_content_by_words' %}'/>

	{% if error %}
		<script type="text/javascript">
			$('#error_modal').modal();
		</script>
    {% else %}
<div class="container-narrow tab-content">
    <div class="masthead">
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="#">Data Crowler</a>
            <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a class="site_list_b" data-toggle="tab" href="#main_view"> Main page</a></li>
              <li><a class="site_list_b" data-toggle="tab" href="#second_view">Config list</a></li>
              <li><a class="site_list_b" data-toggle="tab" href="#last_view">About</a></li>
            </ul>
          </div>
        </div>
    </div>
    <div id="main_view" class="tab-pane active" >
        <hr>
        <div class="jumbotron">
        	<h1>Super awesome DataCrowler!</h1> 
        		<br /><br />
        		{% if data %}
    	        <form class="form-search">
			    	<div class="input-append">
			    		<input type="text" class="span2 search-query">
			    		<button type="button" class="btn">Search</button>
			    	</div>
			    </form>
			    {% else %}
			    	<div class="alert alert-error"> You must add the URL in config list.</div>
			    {% endif %}
			    <br />
        </div>
        <hr>
        <div class="row-fluid marketing">
            <div class="span6">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
                <h4>Subheading</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
                <h4>Subheading</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
            <div class="span6">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
                <h4>Subheading</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
                <h4>Subheading</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>
    </div>
    <div id="second_view" class="tab-pane">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span2">
                <ul class="nav nav-list" id="actionCheck">
                  <li class="ac_one active"><a href="#">Action one</a></li>
                  <li class="ac_one"><a href="#">Action two</a></li>
                </ul>
            </div>
            <div class="span10 actionCheck">
                <div class="tab_actions" >
                    <form class="form-horizontal">
                        <legend>Action ONE</legend>
                        <label>Add url and name to config list.</label>
                        <div class="control-group">
                            <label class="control-label" for="inputName">Name</label>
                            <div class="controls">
                              <input type="text" id="inputName" placeholder="Name">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputUrl">Url</label>
                            <div class="controls">
                              <input type="text" id="inputUrl" placeholder="http://www.exampl.com">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="button" class="btn set_url">Set to list</button>
                                <span class="badge badge-success none"> Success </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab_actions" style="display: none;">
                    <legend>Action TWO</legend>
                    <ul>
		            	{% if data %}
			            	{% for value in data %}
			            		<li><p class="lead">{{ value.url }}</p></li>
			            	{% endfor %}
		            	{% else %}
		            		<div class="alert alert-error"> You must add the URL in config list.</div>
		            	{% endif %}
		            </ul>
		            <a class="btn btn-large btn-success parse_db">Parse the list</a>
		            <div class="alert alert-success none"></div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div id="last_view" class="tab-pane">
	    <div class="row-fluid">
	    	<div class="span4">
	    		<h1>Zaremba Alex</h1>
        		<img src="{{ STATIC_URL }}crowler/img/a3aremba.jpg" class="img-circle">
        		    <div class="progress">
				    	<div class="bar bar-success" style="width: 35%;"></div>
				    	<div class="bar bar-warning" style="width: 20%;"></div>
				    	<div class="bar bar-danger" style="width: 10%;"></div>
				    </div>
	    	</div>
	    	<div class="span8">
	    		<br /><br />
	    		<p><span class="label label-info">GITHUB</span> https://github.com/a3aremba/DataCrawler</p>
	    		<p><span class="label label-warning">LinkedIn</span> </p>
	    	</div>
	    </div>
    </div>
    <hr>
    <div class="footer">
        <p>© Company 2014</p>
    </div>
</div>

    {%endif%}

{% endblock %}
